body{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(125deg,#2b6bf7,#00aeff);
}

.container{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434
}

.container h1{
  font-size: 160px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
  background: url(https://lh3.googleusercontent.com/gjzhyk8qpDPoLEA9kqsRd0D1SES4eqbkxNY3jyvmhsl5aBpx0WJbWvfQ70yMPtC1zExCsNNkG9spnDdH_eL7cfPhw2_BmPh17SeA1CN5a-0Qi3L6iLB6E1tJsCyJSjXnDwHd2ZuVjgpNP6UTeoFcCi5Uc582IR7NvZM1Vz9PK6iFjy3GHxcVXeujVZO-vFYrsTg2lBO-hp9PekXz4LObb2fP4XuDk7zxMSuVVRwtLJG5hGbd_8u-l5jiEpxqIAP8hJOcTbDxUxgLdxazRp_OtAl0um8b3VMeD0WeeGUWX22w9GjQUOdATY3UIo2SZi5ee4dXXomqRU0MJe2p9C5x7JALdkuCZcfrarlLXuisKL_vLwHugJTiWF3ryd1rqOxNTZ3IQl0JAC3zyUkhgXD4tIvQNOJ0rx8YvTIkXuyUyPtcFw9zXApBfJw2onk-OiFZTHmXads_QMeAbkSgTkIagX6LqkOozROxW0ZCj98fZ2FwFv5WX0zt9RQN_Xd72r9H7DPWgHiGH6LR-O0G1ANeyQDwv__ZBiiJaeFwvfot1W11MMwsnS4Qgnqc5DVtd5FnklrhQh1hzoD7dfkDrWjJrSOa-v5BxRmN39WfDaUqPPrMWk5dg41ThHmuOTYNgBq-f3Hlw9ksGzfBzFUcQD9SzcBIuw4YT8ChUDbGnsY9Qk-Md_sSxKo3FKRualpOjA=w1190-h669-no?authuser=0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container a{
  text-decoration: none;
  background: #1973bdaa;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
}

.container a:hover{
  background: #116bbe;
}
